.faq-content{
	border-radius: 0;
	margin-top:100px;
	padding-left:100px

}
.faq-category{
	padding-top: 100px;
	background-color: white;
	box-shadow: 5px 16px 15px;
	/*margin-left: 10px;*/
}
p.content{
	
}

.loading{
    position: fixed; /* forces the element to stay fixed in relation to the viewport */
    top: 50%; /* sets the top of the image 50% of the page height */
    left: 50%; /* sets the left side of the image 50% across the page */
    margin-left: -100px; /* moves the image half of its own width to the left-side of the page */
    margin-top: -93px; /* moves the image half its height 'up' the page */
    box-shadow: 0.5em 0.5em 0.7em #333; /* to give the illusion of 'floating'
    border-radius: 1em;
}